.cus-nav-bg {
    background-color: #F8EDEB;
}

.cus-nav-name {
    font-family: 'Lobster', sans-serif;
    color: #FFAFCC;
}

.cus-button {
    border: 1px solid #FFAFCC;
    text-decoration: none;
    background-color: #FFAFCC;
    color: white;
}

.cus-button:hover {
    color: white;
}

.cus-bgcolor-primary {
    background-color: #FFAFCC;
    border-color: #FFAFCC;
    color: white;
}

.cus-bgcolor-primary:hover {
    background-color: #FFAFCC;
    border-color: #FFAFCC;
}

.card {
    border: none;
}

.cus-ftcolor-primary {
    color: #FFAFCC;
}

.rectangle {
    display: inline-block;
    background-color: #ff69b4;
    width: 10px;
    height: 30px;
}

/* Fade in */
/* #navbarNavAltMarkup a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hotpink;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

#navbarNavAltMarkup a:hover::after,
#navbarNavAltMarkup a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
} */

/* #navbarNavAltMarkup a {
    overflow: hidden;
}

#navbarNavAltMarkup a::after {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}

#navbarNavAltMarkup a:hover::after,
#navbarNavAltMarkup a:focus::after {
    transform: translate3d(0, 0, 0);
} */